{% extends 'base.html' %}

{% block title %}
<title>Mon profile</title>
{% endblock %}

{% block content %}
    <h1>Contenu du profile</h1>
    {% if already_created %}
        <a href="{% url 'update_profile' %}">Modifié mon profile</a>
    {% else %}
        <a href="{% url 'create_profile' %}">Création de mon profile</a>
    {% endif %}
    <p><a href="{% url 'create_post' %}?next={{ request.path|urlencode }}">Créer un post</a></p>
    <div>
        <h2>Mes Posts</h2>
        {% for post, comments in user_posts %}
            {% include 'profile_page/snippet_post.html' with post=post comments=comments %}
        {% endfor %}
    </div>
{% endblock %}