{% extends 'base.html' %}

{% block title %}
    <title>Création du profile</title>
{% endblock %}

{% block content %}
    <h1>Création du profile</h1>
    <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if profile.image_profile %}
        <img src="{{ profile.image_profile.url }}" style="max-width: 250px;">
        {% endif %}
        <input type="submit" value="Enregistrer">
    </form>
    {% if errors %}
    <p> {{ errors }}</p>
    {% endif %}
{% endblock %}